* {
  label: data(label);
  source-label: data(source_label);
  target-label: data(target_label);
}

edge {
  curve-style: bezier;
  target-arrow-shape: triangle;
}

node.start {
  shape: round-rectangle;
}

.instruction {
  shape: cut-rectangle;
}

.code, .destination {
  target-arrow-shape: triangle-cross;
}

.input, .output {
  target-arrow-shape: triangle-cross;
  line-style: dashed;
}

.datum {
  shape: tag;
}
