* {
  font-size: 10px;
}

*[label] {
  label: data(label);
}

*[source-label] {
  source-label: data(source-label);
}

*[target-label] {
  target-label: data(target-label);
}

node {
  background-color: white;
  border-width: 1px;
  height: label;
  padding: 5px;
  shape: rectangle;
  text-halign: center;
  text-valign: center;
  width: label;
}

edge {
  curve-style: bezier;
  line-color: black;
  target-arrow-color: black;
  target-arrow-shape: triangle;
  text-halign: right;
  width: 1px;
}

.code, .destination {
  line-color: pink;
  line-style: dashed;
  target-arrow-color: pink;
}

.input {
  line-color: red;
  line-style: dashed;
  target-arrow-color: red;
}

.output {
  line-color: blue;
  line-style: dashed;
  target-arrow-color: blue;
}

.datum {
  shape: round-rectangle;
}

.constant-input {
  background-color: green;
}

.lexical-location {
  background-color: yellow;
}

.values-location {
  background-color: blue;
}

.immediate-input {
  background-color: aquamarine;
}

.load-time-value-input {
  background-color: orange;
}

